/* Profile.css */

body {
    background-color: #f9f9fa;
}

.custom-card-container {
    width: 100%;
    height: 100%; 
    margin: auto; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding {
    padding: 1rem !important;
}

.user-card-full {
    width: 80%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 10px 0 0 10px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 16px;
}

.card .card-block p {
    line-height: 25px;
}

.text-muted {
    color: #919aa3 !important;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

@media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
}

.social-link.list-unstyled.m-t-40.m-b-10 li {
    display: inline-block;
}

.social-link.list-unstyled.m-t-40.m-b-10 li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    transition: all 0.3s ease-in-out;
}

/* Add more styles as needed */
